<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demoorder.Mapper.TestSqlMapper">

    <resultMap id="BaseResultMap" type="com.example.demoorder.entity.TableQuery">
        <id column="id" property="id"/>
        <result column="b_id" property="bId"/>
        <result column="c_id" property="cId"/>
        <result column="b_name" property="bName"/>
        <result column="a_name" property="aName"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <select id="testSumAndGroupBy" resultMap="BaseResultMap">
-- 测试 sum and group by
SELECT id,b_id,SUM(age) AS age FROM table_a
WHERE b_id = #{bId} AND COMMENT!=''
GROUP BY id;
</select>

    <select id="testNotExistsAndSubQuery" resultMap="BaseResultMap">
-- 测试 not exists子查询
  SELECT * FROM table_a AS a
  WHERE
  NOT EXISTS (
  SELECT * FROM table_a WHERE b_id = a.b_id AND create_time>a.create_time
  )
  AND b_id=#{bId}
  AND age IN (13,22,18)
  GROUP BY id;
    </select>

    <select id="testComplexSqlAsChildTable" resultMap="BaseResultMap">
-- 测试 复杂SQL作为子表
	 SELECT a.id,b.a_name
	 FROM table_a AS a ,table_b AS b,
	 (
	 SELECT * FROM table_c
	 WHERE
	 NOT EXISTS (SELECT 1 FROM table_c WHERE COMMENT=#{comment})
	 AND d_id>1
	 AND age IN (10,20,30,40)
	 GROUP BY d_id
	  ) c
	  WHERE 1=1
	  AND a.b_id  = b.id
	  ORDER BY a.create_time DESC
    </select>

    <select id="testSelectAndLeftJoin" resultMap="BaseResultMap">
-- 测试 select * from left join
SELECT a_name,b_id,c_id,a.create_time,b.update_time FROM
(SELECT * FROM table_a) AS a LEFT JOIN
(SELECT * FROM table_b) AS b
ON a.b_id = b.id
GROUP BY a.b_id DESC;
    </select>


    <update id="testBatchUpdate" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE table_b set
            a_name = #{item.aName}
            WHERE  id = #{item.id}
        </foreach>
    </update>

</mapper>
